* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.phone {
    background-color: blue;
    border-radius: 34px;
    width: 300px;
    height: 600px;
    display: flex;
    padding: 1.4rem;
    gap: 28px;
    box-shadow: 0 0 14px 5px gray;
    margin-bottom: 1rem;
}
.one {
    display: flex;
    align-items: flex-start;
    gap: 8px;

}
.camera-box {
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 20px;
    height: 164px;
    gap: 9px;
}
.camera:first-child{
    outline: 2px solid silver;
}
.camera {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid #000;
    outline: 2px solid gray;
}
.flash {
    width: 13px;
    height: 27px;
    background-color: silver;
    border-radius: 14px;
    margin-top: 7px;
}
.phone:hover .flash{
    background: #fff;
    box-shadow: 0 0 12px 8px #fff;
}
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.finger{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4a4adc;
    margin-top: 10px;
    box-shadow: 0 0 5px 0px black;
}
.logo {
    color: silver;
    transform: rotate(-90deg);
    letter-spacing: 8px;
    margin: 0;
    font-size: 1.8rem;
}
